html, body {
	width: 100%;
	margin: 0;
}

#main {
	text-align: center;
	width: 100%;
	background-color: #434250;
}

#front {
	height: 200px;
	width: 100%;
	background-color: #1bbc9b;
	border-bottom: 15px solid #2b2937;
	font-size: 400%;
	line-height: 200px;
	overflow: auto;
}

#content {
	height: 650px;
	width: 100%;
	border-style: solid none solid none;
	border-width: thin 0px thin 0px;
	border-color: black black black black;
}

#comment {
	margin: 35px auto;
	height: 630px;
	width: 80%;
	font-size: 250%;
	overflow: auto;
	color: white;
}

#foot {
	height: 200px;
	border-top: 2px solid #2b2937;
}